@media screen and(min-width: 375px) and(orientation: landscape) {
	* {
		transition: all 1s ease-in-out;
	}
	.quote-text {
		font-size: 1.5rem;
		line-height: 2.4rem;
		letter-spacing: 2px;
	}
	.img-saly17 {
		opacity: 0.1;
	}
	.nav-container {
		height: 9vh;

		align-items: flex-end;
	}
	.main-wrapper {
		margin-top: 1rem;
	}
	.main-container {
		height: 91vh;
	}
}

@media screen and(min-width: 768px) {
	* {
		transition: all 1s ease-in-out;
	}
	.quote-text {
		font-size: 2.5rem;
		line-height: 3.3rem;
		letter-spacing: 2px;
	}
}

@media screen and(min-width: 1024px) {
	* {
		transition: all 1s ease-in-out;
	}
	.quote-text {
		font-size: 3rem;
		line-height: 4rem;
		letter-spacing: 2.2px;
	}
}
@media screen and(min-width: 1200px) {
	* {
		transition: all 1s ease-in-out;
	}
	.main-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: absolute;
		left: 80px;
		top: 80px;
		max-width: 50%;
		// overflow: hidden;
		// margin: 0 auto;
		margin-top: 5rem;
		z-index: 1;
		// border: 1px red solid;
		padding: 2rem;
	}
	.quote-text {
		font-size: 3rem;
		line-height: 4rem;
		letter-spacing: 2.2px;
	}
	.bottom-pic {
		width: 100%;
		// border: 1px red solid;
		position: absolute;
		bottom: 0;
		z-index: -3;
	}
	.footer-img16 {
		display: flex;
		justify-content: flex-end;
		width: 100%;
		position: absolute;
		bottom: 0;
		right: -150px;
		// border: 1px red solid;
	}
	// .circle {
	// 	width: 800px;
	// 	height: 800px;
	// 	max-width: 60%;
	// 	background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
	// 	border-radius: 50%;
	// 	position: absolute;
	// 	bottom: 0;
	// 	right: 0;
	// 	z-index: -1;
	// 	transition: all 1s ease-in-out;
	// }
	// .circle:hover {
	// 	transform: translate(-50px) rotate(45deg);
	// }

	.img-saly16 {
		display: block;
		max-width: 60%;
		position: relative;

		// border: 1px green solid;
	}

	.img-saly17 {
		display: none;
		width: 100%;
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: -1;
	}
	.fas {
		font-size: 4rem;
	}
}
